body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

/* topnavbar */
.row4 .title {
  margin-top: 2px;
  color: #0986B2;
  font-weight: bold;
}

.row4 {
    background-color: #ABDFF1;
    height: 7vh;
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.row4 .col-sm-4, .col-sm-2 {
  padding: 1vh;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

li a:hover {
  background-color: orange;
  color: #0f6986;
}
.search {
  display:flex;
  flex-wrap: nowrap;
}
.search .search-icon {
  text-align: center;
  padding:5px;
  background-color: #0986B2;
  width:40px;
  height:40px;
  border-radius: 100%;
}


/* end of top navbar */

/* mainbody styles */
.main-body {
    margin-left: 17%;
    margin-top: 7vh;
}


.row-2 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 5%;
}

.col-sm-4 img{
  border-radius: 10px;
  width: 100%;
}
img{
    height: 300px
}

.col-4 img{
    border-radius: 15px;
    width: 100%;
}

/* h3 {
  color:#3b82f6; text-align: center; margin-top: 5%;
} */

/* left navbar */
.sidebar {
  padding: 0;
  background-color: #0986B2;
  position: fixed;
  height: 100%;
  overflow: auto;
  width: 16%;
  z-index: 1;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px 10px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #54a8c7;
  color: white;
}

.leftbar{
  margin-top: 10vh;
}

.sidebar h4 {
  text-align: right; 
  color: white; 
  margin-top: 100%;
  margin-right: 10px;
}
.sidebar .input {
  border: 1px solid yellow;
  color: yellow;
  border-radius: 50px;
  text-align: center;
  width: 150px;
  margin-left: 40%;
  padding: 10px;
}

div.content {
  margin-right: 200px;
  padding: 1px 16px;
  height: 1000px;
}


/* carousel */
.carousel-inner video {
  width: 100%;
  height: 60vh;
}

/* right sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;  
  right: 0;
  margin-left: 70%;
  background-color: inherit;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left: 1px solid black;
  border-radius: 5px;
  height: 80%;
  top: 10%;
  overflow-y: scroll;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size: 18px;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav a img {
width: 200px;
height: 150px;
}
.sidenav span {
    color: orange;
    margin-top: 20%;
    margin-left: 80%;    
}

/* end of right sidenav */

footer {
  background-color: #0986B2;
  color: white;
  position:relative;
  bottom: 0;
}

.links a {
  font-size: 24px;
}

/* end of sidenav */


/* dropdown content */
 .dropbtn {
  display: inline-block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
 
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* end of dropdown */

/* Tony's Contrib */

/* Footer */
/* Footer */

/**/
footer {
  width: 100vw;
  height: 300px;
  position: relative;
  text-align: center;
  background-color: #0986B2;
  color:white;
}
footer .row {
  margin: 0 50px;
  display: flex;
  justify-content: center;
  height: 200px;
}
footer .row h6  {
  font-weight: bold;
}

footer .column {
  text-align: center;
  margin:0 10%;
}
footer .col-1 {
  text-align: left;
}

footer .copyright {
  height: 20px;
  margin-top:60px;
}


/* Search bar in index page */
.search {
  grid-area: search;
  text-align: right;
  width: 50%;
}

.search input {
  border-radius: 5px;
  border: none;

}
/* end of search */


.index .breadcrumbs, .breadcrumbs {
  position:relative;
  background-color: white;
  top:0;
  text-align: right;
  color: orange;
  margin: 0 20px;
}
.index .breadcrumbs .right-sidebar , .bread{
  cursor: pointer;
}


/* Listings page */

/* breadcrumbs */

.listings .breadcrumbs {
  color: orange;
  display: flex;
  flex-wrap: nowrap;
  height:5vh;
}
.listings .breadcrumbs .right-sidebar {
  background-color: whitesmoke ;
  border-left: 1px solid #d6d6d6;
  cursor: pointer;
  width: 20%;
  padding: 0 10px;
  flex-basis: 20%;
}

.listings .breadcrumb {
  border-radius:0;
  background-color: whitesmoke;
  height:100%;
  flex-basis:80%;
  width: 70%;
  padding:5px;
}

.listings .breadcrumb a {
  text-decoration: none;
  margin: 0 5px;
  color: orangered;
}


/* header */

.header {
  font-family: sans-serif;
  margin-left:40px;
}

.heading {
  text-align: center;
}
.header p {
  color:#818181
}


/* list of items */

.listing .column {
  width:30%;
  text-align:center;
}

.listing .column .img {
  height:200px;
  overflow: hidden;
  border-radius: 5px;
}
.listing .column img {
  border-radius: 5px;
  width:370px;
  object-fit: cover;
  transition: .4s ease;
}

.listing .column img:hover {
  transform: scale(120%)
}


.listing .column a {
  text-decoration: none;
  color:black;
  transition: .3s ease;
}
.listing .column  a:hover {
  color:green;
}


/* Pagination */
.listing .pagination {
  text-align: center;
}

.listing nav {
  margin: 0 50%;
  transform: translateX(-100%);
}
.listing .page-link {
  color:black;
}
/* end of listings */



/* Forums Page */

.forum .main-body {
  margin: 7vh 30px 0 20%;
}

.forum .header {
  display: flex;
  justify-content: space-between;
}
.forum .heading {
  margin-top:12px;
}

.forum .right {
  border:1px solid red;
}
.forum button {
  border: 1px solid #0f6986;
  border-radius: 5px;
  background-color: inherit;
  padding: 3px 25px;
  margin: 30px 50px 0 0;
  color: #0f6986;
}


/*content*/
.content .topics .row{
  display: grid;
  grid-template-areas: 'star body body body body body body body score';
  box-shadow: #d6d6d6 0 0 5px 0;
  border-radius: 3px;
  padding:5px;
  margin: 10px 10px 0 20px;
  height: 100px;
}
.forum .topics .star {
  grid-area: star;
  margin: 25px 0 0 70px;

}
.star img {
  height: 35px;
  object-position: center;
  object-fit: cover;
}
.forum .topics .body {
  grid-area: body;
}
.forum .topics .body h6 {
  font-weight: bold;
  margin-top:15px;
}
.forum .topics .body .time {
  color:#54a8c7;
}
.forum .topics .body .p {
 color:#818181
}
.forum .topics .body .p, .forum .topics .body .time {
  font-size: 12px;
}
.forum .topics .score {
  grid-area: score;
  margin-top:35px;
  color:#D6691E;
  font-size: 12px;
  font-weight: bold;
}


/* Listing Advert Detail */
.listing-advert .header {
  display:grid;
  grid-template-areas: 'left right';
  justify-content: space-between;
}

.listing-advert .left{
  grid-area: left;
  margin-left: 20px;
}
.listing-advert .left .heading {
    font-weight: bold;
    margin-top:10px;
    font-style: normal;
}
.listing-advert .right {
  grid-area: right;
  margin-right: 20vw;
}

.listing-advert .right img {
  /*width: 250px;*/
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.listing-advert .main {
  margin:0 30px 200px 30px;
 font-family: sans-serif, arial;
  font-style: normal;
}
.listing-advert .main .topic {
  font-weight: bolder;
  margin-bottom: 10px;
}


.listing-advert .main .list-head, .listing-advert .main .REFERENCE {
  margin-top: 30px;
  text-decoration: underline;
  list-style-position: outside;
}
.listing-advert .main .REFERENCE {
  margin:50px 0;
}

.listing-advert .main li {
  padding:10px;
  text-decoration: none !important;
  margin-bottom:10px;
}
