
/* Index Page*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

Navbar
nav {
    z-index: 1;
    background-color: #ABDFF1;
    width: 100vw;
    height: 50px;
    position: fixed;
    padding:10px;
    left:0;
    top:0;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

nav .logo {
    flex-basis: 200px;
}
nav .logo a:link , .logo a:visited {
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    font-family: sans-serif;
    color: #0986B2;
}
nav .nav-item {
        /*border: 1px solid black;*/
    flex-basis: 40vw;
}
.nav-item a:link , .nav-item a:visited{
    text-decoration: none;
    color: black;
    margin: 0 20px;
}
nav .search {
    flex-basis: 45vw;
}
.searchbar {
    width: 30vw;
}
nav input {
    width: 100%;
    border: none;
    background-color:whitesmoke;
    padding: 5px 5px;
    border-radius: 5px;
}
.search img {
    width: 35px;
    border-radius: 100%;
    background-color: #49A9CB;
}


 /* Navbar  */
/* .row4 .title {
  margin-top: 2px;
  color: #0986B2;
}

.row4 {
    background-color: #ABDFF1;
    height: 9vh;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border: 1px solid;
}

.row4 .col-sm-4, .col-sm-2 {
  padding: 10px;
}



 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

li a:hover {
  background-color: white;
  color: #0f6986;
}




 */


/* page grid*/
.body {
    display: grid;
    grid-template-areas: 'left right right right';
    margin-top:50px;
}

/* Sidebar */
.sidenav {
    top: 50px;
    left: 0;
    padding:50px 0 200px 10px;
    width: 15vw;
    height: 100%;
    background-color: #0986B2;
}

.sidenav .side-item {
    margin: 50px 5px;
}
.side-item a {
    text-decoration: none;
    color:white
}
.side-items > span {
    margin-left: 50px;
}

/* Breadcrumbs */
breadcrumb a {
    margin: 0 10px;
}


/*content*/


.content {
    position: relative;
    padding: 20px;
}

.carousel-inner {
    background-color: black;
    /*object-fit: cover;*/
    /*object-position: center;*/
}
.carousel-inner video {
  width: 100%;
  height: 60vh;
}

.articles {
    text-align: center;
}

.articles .heading {
    text-align: center;
    margin:50px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}
.articles .heading h2 {
    margin: auto;
    border-bottom: 1px solid #d0d0d0;
    width: 50%;
}

.odd {
    background-color: whitesmoke;
}
.even {
    background-color: white;
}

.articles .row {
    padding: 30px 10px 10px 10px;
}
.articles .column {
    width: 500px;
}
.articles .column img {
    border-radius: 5px;
    width: 80%;
    height: 200px;
    object-position: center;
    object-fit: cover;
}



/* Footer */
footer {
    width: 100vw;
    height: 300px;
    position: relative;
    text-align: center;
    background-color: #0986B2;
    color:white;
}
footer .row {
    margin: 0 50px;
    display: flex;
    justify-content: center;
    height: 200px;
}
footer .row h6  {
    font-weight: bold;
}

footer .column {
    text-align: center;
    margin:0 10%;
}
footer .col-1 {
    text-align: left;
}

footer .copyright {
    height: 20px;
    margin-top:60px;
}


/* End of Index*/


/* Listings Page */


.listing .card-img {
  overflow: hidden;
  border-radius: 5px;
}
.listing img {
  border-radius: 5px;
  height:200px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  transition: .4s ease;
}

.listing img:hover {
  transform: scale(120%)
}


.listing .col-4 a {
  text-decoration: none;
  color:black;
  transition: .3s ease;
}
.listing .col-4 a:hover {
  color:green;
}

/* Forums Page */
/*content*/
.content .articles .topics .row{
    position: relative;
    top:50px;
    display: grid;
    grid-template-areas: 'star body body body score';
    background-color: black;
    box-shadow: 0 0 2px 5px;
    border: none;
    border-radius: 3px;
    padding:5px;

}
.star {
    grid-area: star;
}
.star img {
    width: 50px;
    object-position: center;
    object-fit: cover;
}
.body {
    grid-area: body;
}
.score {
    grid-area: score;
}


/* Detail Page */
